$header-bg:#0D0E0D;
$rosewood-btn-3:#6B0F1A;
$erca:#D6BA73;
$davy-gray:#5A5353;
$bg-color:#FBF5E9;
$heading-color:#33210D;


$main-fonts: "laila", sans-serif;

// White and grey colours
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

// Border-radius

$border-radius-4:4px;
$border-radius-8:8px;
$border-radius-10:10px;

// Heading and text font-size and weight

$heading-1:3.125rem;
$heading-2:2.813rem;
$heading-3:2.5rem;
$heading-4:2.188rem;
$heading-5:1.875rem;
$heading-6:1.563rem;

// Font-size
$normal:1rem;
$medium:1.125rem;
$cats-tags:0.625rem;

// font-weight
$font-weight-light:300;
$font-weight-regular:400;
$font-weight-semibold:500;
$font-weight-bold:600;










@import "../node_modules/bootstrap/scss/bootstrap.scss"