@use "../custom" as *;


.navbar{
    & .nav-item{
        margin-left: 1.75rem;
        font-weight: $font-weight-bold;
        font-size: 0.875rem;
       

        @include media-breakpoint-down('lg'){
            margin-left: 0rem;
            margin-top: 1rem;
            
        }

        & .nav-link{
            color: $white;
            &:hover{
                color:$erca;
        }

        // & .nav-link.active{
        //     color: $active-menu;
        // }
    }

    & .other-option{
        display: flex;
        align-items: center;
        margin-right: 40px;
    }
}



// dropdown menu style 
    & .navbar-nav{

        & .nav-item{

            & .dropdown-toggle:before{
                content: "\f107";
                position: absolute;
                right: -7px;
                top: 11px;
                font: 15px 'FontAwesome';
            }

            & .dropdown-toggle:after{
                display: none;
            }

            & .nav-link.dropdown-toggle{
                // padding-left: 17px;
            }
        }

        & .nav-item{

            &:hover{
                & .dropdown-menu{
                    opacity: 1;
                    visibility: visible;
                    transform: translate3d(0, 0, 0);
                }
            }

            & .dropdown-menu{
                    left: 0;
                    top: 60px;
                    opacity: 0;
                    z-index: 99;
                    width: 265px;
                    margin-top: 0px;
                    display: block;
                    padding: 12px 30px;
                    border-radius: 0;
                    position: absolute;
                    visibility: hidden;
                    background: $white;
                    transition: all 0.2s ease-in-out;
                    transform: translate3d(0, 18px, 0);
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

                    & .nav-item{
                        margin: 0px;

                        & .dropdown-menu{
                            top: 0;
                            opacity: 0;
                            left: -275px;
                            margin-top: 0;
                            visibility: hidden;
                            transform: translate3d(0, 18px, 0);

                            & .nav-item{
                                & .dropdown-menu{
                                    top: 0;
                                    opacity: 0;
                                    left: -100%;
                                    visibility: hidden;
                                    transform: translate3d(0, 18px, 0);
                                }
                                
                                & .nav-link{
                                    color: $header-bg;

                                    &:hover{

                                        .dropdown-menu{
                                            opacity: 1;
                                            visibility: visible;
                                            transform: translate3d(0, 0, 0);
                                        }
                                    }
                                }

                                    & .dropdown-menu{
                                           
                                        & .nav-item{

                                            & .nav-link{
                                                color: $header-bg;

                                                &:hover,
                                                &.active{
                                                    color: $header-bg;
                                                }
                                            }
                                        }
                                    }
                               

                                & .nav-link.active,
                                & .nav-link:hover{
                                    color: yellow;
                                }
                            }
                        }

                        &:last-child{

                            & .nav-link{
                                border-bottom: none;
                            }
                        }

                        & .nav-link{
                            display: block;
                            padding: 10px 0;
                            font-weight: 500;
                            color: $heading-color;
                            position: relative;
                            // border-bottom: 1px dashed $header-bg;

                                &.active:after,
                                &:hover:after{
                                    visibility: visible;
                                    opacity: 1;
                                    height: 25px;
                                }

                                &.dropdown-toggle:after{
                                    display: inline-block;
                                    border: none;
                                    margin: 0;
                                }

                                &::after{
                                    position: absolute;
                                    top: 50%;
                                    left: -30px;
                                    content: "";
                                    width: 2px;
                                    height: 0;
                                    background-color: $rosewood-btn-3;
                                    transform: translateY(-50%);
                                    visibility: hidden;
                                    opacity: 0;
                                    transition: var(--transition);
                                }
                        
                                &.dropdown-toggle:before{
                                    top: 50%;
                                    right: 0;
                                    transform: translateY(-50%) rotate(-90deg);
                                }

                                &.active,
                                &:hover{
                                    color: $rosewood-btn-3;
                                    background: none;
                                }

                                
                            
                           

                        }
                    }
            }
        }
    }

}






.navbar .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item:hover .dropdown-menu {
opacity: 1;
visibility: visible;
transform: translate3d(0, 0, 0);
}
 .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .dropdown-menu {
top: 0;
opacity: 0;
left: 100%;
visibility: hidden;
transform: translate3d(0, 18px, 0);
}
 .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .nav-link {
color: $header-bg;
}
 .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .nav-link:hover,  .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .nav-link.active {
color: red;
}
 .navbar .navbar-nav .nav-item .dropdown-menu .nav-item:hover .dropdown-menu {
opacity: 1;
visibility: visible;
transform: translate3d(0, 0, 0);
}

.navbar .navbar-nav .nav-item .dropdown-toggle:hover:before,  .navbar .navbar-nav .nav-item .dropdown-toggle.active:before {
color: $heading-color;
}

.navbar .navbar-nav > .nav-item > .nav-link.dropdown-toggle:after {
display: inline-block;
border: none;
}



@include media-breakpoint-down('sm'){

    .show{
        visibility: visible !important;
        opacity: 1 !important;
        top: 15px !important;
    }

    .nav-link{
        &:hover{
            color: red !important;
        }
    }

}



.secondary-navigation{

    & .nav-item{
        margin-top: 15px;
    }

}



/*Navbar Toggler Start Here*/ 

@include media-breakpoint-down('lg') {

    .navbar-toggler{
        width: 30px;
        height: 30px;
        position: relative;
        left: -15px;
        transition: 0.5s ease-in-out;
        // background-color: $bg-color;
    
        & .toggler-icon{
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            background-color: $bg-color;
            border-radius: 2px;
            opacity: 1;
            transform: rotate(0deg);
            transition: 0.25s ease-in-out;
        }
    
    
        .middle-bar{
            margin-top: 0px;
        }
    
        
    
        // When Navigation is clicked
    
        & .top-bar{
            margin-top: 0px;
            transform: rotate(135deg);
        }
    
        & .middle-bar{
            opacity: 0;
            filter: alpha(opacity=0);
        }
    
        & .bottom-bar{
            margin-top: 0px;
            transform: rotate(-135deg);
        }
    
        // State when the navbar is collasped
    
        &.collapsed .top-bar{
            margin-top: -20px;
            transform: rotate(0deg);
        }
    
        &.collapsed .middle-bar{
            opacity: 1;
            filter: alpha(opacity=100);
        }
    
        &.collapsed .bottom-bar{
           margin-top: 20px;
           transform: rotate(0deg);
        }
    
        // Navbar Toggler Color
        &.collapsed .toggler-icon{
            // background: linear-gradient(90deg, rgba(33,30,57,1)0%, rgba(96,1,211,1) 25%, rgba(239,243,255,1) 100%);
            background-color: $white;
        }
    }

    .navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
   outline: none;
   box-shadow: none;
   border: none;
}

}





/*Navbar Toggler Ends Here*/ 
// .navbar-brand img{
// max-width: 200px;
// margin-top: 0px;
// }




@include media-breakpoint-down('lg') {

    .navbar .other-option{
        display: flex;
        align-items: center;
        margin-right: 40px;
    }
    .navbar .other-option .option-item .search-btn {
      background-color: transparent;
      border: none;
      padding-top: 0px;
      color: $white;
      font-size: 22px;
      padding: 4px 0px 0px 0px;;
      margin-right: 20px;
    }
  }




  .searchbox {
    position: relative;
    min-width: 40px;
    width: 0%;
    overflow: hidden;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-left: 20px;

    & .searchbox-input {
        top: 0;
        right: 0;
        border: 0;
        outline: 0;
        background: #ffffff;
        width: 200px;
        height: 40px;
        margin: 0;
        padding: 0px 55px 0px 20px;
        font-size: 20px;
        color: #293033a6;
        font-family: $main-fonts;
        font-size: 0.975rem;

        &::-webkit-input-placeholder{
            color: #293033a6;
        }   

        &::-moz-placeholder{
            color: #293033a6;
        }

        &::-ms-input-placeholder{
            color: #293033a6;
        }
      }

      & .searchbox-icon, .searchbox-submit{
            width: 40px;
            height: 40px;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            padding: 0;
            margin: 0;
            border: 0;
            outline: 0;
            line-height: 2.4rem !important;
            line-height: 50px;
            text-align: center;
            cursor: pointer;
            color: $rosewood-btn-3;
            background-color: #ffffff;
            border-radius: 50%;
      }


      &.searchbox-open{
        width: 200px;
        height: 40px;
        border-radius: 40px;
      }

  }
