@use "../custom" as *;


.blog-post-carousel, .recent-post, .most-read-post{

    .slick-slide{
        @include media-breakpoint-down('md'){
            margin-left: 15px;
        }
    }

    & .post-thumbnail{
        & img{
            border-radius: 4px;
            width: auto;
            height: auto;

            @include media-breakpoint-down('lg'){
                width: 90%;
            }
        }
    }

    & .post-tag{
        
        font-size: 0.625rem;
        margin-bottom: 0.675rem;
       
        & a{
            color: $davy-gray;
            text-decoration: none;
            font-weight: 700
        }
    }

    & .blog-post-title{

        & h3{
            font-size: 1.25rem;
            line-height: 2rem;
            text-align: center;
            font-weight: $font-weight-regular;

            &
            a{
                color: $heading-color;
                text-decoration: none;

                &:hover{
                    color: $rosewood-btn-3;
                }
            }
        }

    }

    & .NextArrow {
        position: absolute;
        top: 50%;
        right: -25px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        // background: rgba(0, 0, 0, .80);
        background-color: $white;
        border: 0 none;
        margin-top: -22.5px;
        text-align: center;
        font: 15px FontAwesome;
        color: $header-bg;
        z-index: 5;
        border: 14px solid #F7F1E3;
        opacity: 0;
        transition: all 0.3s;

        &::before{
            content: '\f061';
            position: relative;
            left: 1px;
        }

        &:hover{
            background-color: $heading-color;
            border: none;
            color: $white;
        }
        
      }

       .NextArrow{
        opacity: 1;
      }


      & .PrevArrow {
        position: absolute;
        top: 50%;
        left: -70px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 14px solid #F7F1E3;
        margin-top: -22.5px;
        text-align: center;
        font: 15px FontAwesome;
        color: $header-bg;
        z-index: 5;
        background-color: $white;
        opacity: 1;
        transition: all 0.3s;

        &::before{
            content: '\f060';
            position: relative;
            right: 1px;
        }

        &:hover{
            background-color: $heading-color;
            border: none;
            color: $white;
        }

      }
}

 
  

  
 
  
 

