/* // .navbar .navbar-nav .nav-item .nav-link.dropdown-toggle {
    //     padding-right: 17px;
    // }
    //  .navbar .navbar-nav .nav-item:hover .dropdown-menu {
    //     opacity: 1;
    //     visibility: visible;
    //     transform: translate3d(0, 0, 0);
    // }
    //  .navbar .navbar-nav .nav-item .dropdown-menu {
    //     left: 0;
    //     top: 65px;
    //     opacity: 0;
    //     z-index: 99;
    //     width: 265px;
    //     margin-top: 0;
    //     display: block;
    //     padding: 12px 30px;
    //     border-radius: 0;
    //     position: absolute;
    //     visibility: hidden;
    //     background: $white;
    //     transition: all 0.2s ease-in-out;
    //     transform: translate3d(0, 18px, 0);
    //     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    // }
    //  .navbar .navbar-nav .nav-item .dropdown-menu .nav-item {
    //     margin: 0;
    // } 
    
    

    //  .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .nav-link {
//     display: block;
//     padding: 10px 0;
//     font-weight: 500;
//     color: $heading-color;
//     position: relative;
//     // border-bottom: 1px dashed $header-bg;
// }
//  .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .nav-link.dropdown-toggle:after {
//     display: inline-block;
//     border: none;
//     margin: 0;
// }
//  .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .nav-link:after {
//     position: absolute;
//     top: 50%;
//     left: -30px;
//     content: "";
//     width: 2px;
//     height: 0;
//     background-color: $rosewood-btn-3;
//     transform: translateY(-50%);
//     visibility: hidden;
//     opacity: 0;
//     transition: var(--transition);
// }


//  .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .nav-link.active:after,  .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .nav-link:hover:after {
//     visibility: visible;
//     opacity: 1;
//     height: 25px;
// }
    

//  .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .nav-link.dropdown-toggle:before {
//     top: 50%;
//     right: 0;
//     transform: translateY(-50%) rotate(-90deg);
// }

//  .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .nav-link.active,  .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .nav-link:hover {
//     color: $rosewood-btn-3;
//     background: none;
// }


//  .navbar .navbar-nav .nav-item .dropdown-menu .nav-item:last-child .nav-link {
//     border-bottom: none;
// }
    
    
    // Dropdown Menu
//  .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu {
//     top: 0;
//     opacity: 0;
//     left: -275px;
//     margin-top: 0;
//     visibility: hidden;
//     transform: translate3d(0, 18px, 0);
// }


// .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .nav-link {
// color: $header-bg;
// }


// .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .nav-link.active,  .navbar  .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .nav-link:hover {
// color: $white;
// }

// .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .nav-link:hover .dropdown-menu {
// opacity: 1;
// visibility: visible;
// transform: translate3d(0, 0, 0);
// }


// .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .dropdown-menu {
// top: 0;
// opacity: 0;
// left: -100%;
// visibility: hidden;
// transform: translate3d(0, 18px, 0);
// }

.navbar .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .nav-link {
    color: $header-bg;
}

  .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .nav-link:hover,  .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .nav-link.active {
 color: $header-bg;
 }

 .navbar .navbar-nav .nav-item .dropdown-toggle:before {
content: "\f107";
position: absolute;
right: -7px;
top: 11px;
font: 15px FontAwesome;
}

 .navbar .navbar-nav .nav-item .dropdown-toggle:after {
display: none;
}
    
    */
