@use '../custom' as *;


.primary-btn, .secondary-btn, .teritary-btn{
    padding: 15px 40px;
    border-radius: $border-radius-4;
    border:none;
    font-size: 1rem;
    background-color: $erca;
    display: block;
    font-weight: $font-weight-bold;
    
    @include media-breakpoint-down('sm'){
        padding: 15px 30px;
        width: 100%;
        display: block;
        text-align: center;
      }

    &:hover{
        background-color: $white;
    }

}

.secondary-btn{
    background-color: $header-bg;
    color: $white;
    transition: ease;

    &:hover{
        background-color: $white;
        color: $header-bg;
        transition: 0.3s ease-in-out;
    }
}

.teritary-btn{
    background-color: $rosewood-btn-3;
    color: $white;
    transition: ease;

    &:hover{
        background-color: $white;
        color: $header-bg;
        transition: 0.3s ease-in-out;
    }
}