@use '../custom' as *;

body{
    background-color: $bg-color;
    font-family: $main-fonts;
    font-size: 1rem;
    font-weight: 400;
     line-height: 1.5rem;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    font-family: $main-fonts;
    color: $heading-color;
}

h1{
    font-size: 3.125rem;
}
h2{
    font-size: 2.813rem;
}
h3{
    font-size: 2.5rem;
}
h4{
    font-size: 2.188rem;
}
h5{
    font-size: 1.875rem;
}
h6{
    font-size: 1.563rem;
}

p{
    font-size: 1rem;
    line-height: 1.8rem;
    color: $davy-gray;
    font-weight: $font-weight-bold;
}

