@use '../custom' as *;

body{
    background-color: $bg-color;
    font-family: $main-fonts;
    font-size: 1rem;
    font-weight: 400;
     line-height: 1.5rem;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    font-family: $main-fonts;
    color: $heading-color;
}

h1{
    font-size: 3.125rem;
}
h2{
    font-size: 2.813rem;
}
h3{
    font-size: 2.5rem;
}
h4{
    font-size: 2.188rem;
}
h5{
    font-size: 1.875rem;
}
h6{
    font-size: 1.563rem;
}

p{
    font-size: 1rem;
    line-height: 1.8rem;
    color: $davy-gray;
    font-weight: $font-weight-bold;
}

blockquote{
  
        border-top: 5px solid #F4E9D1;
        padding: 2rem 2rem;
        text-align: center;
        border-bottom: 5px solid #F4E9D1;
        margin-top: 50px;
        

        & p{
            font-size: 1rem !important;
            font-weight: 600 !important;
            color: $rosewood-btn-3 !important;
            font-style: italic;
        }
   
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

.form-control {
    height: 60px;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0 24px;
    color: $header-bg;
    background-color: $white;
    transition: all 0.5s ease;
    // filter: drop-shadow(0px 15px 35px rgba(39, 44, 47, 0.1));

    &::placeholder {
        font-size: 0.75rem;
    }

    &:focus {
        border-color: #f3f3f3;
        outline: none;
    }

}